body{margin:40px;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0 10px;background:#EEEEEE}
h1,h2,h3{line-height:1.2}
code{white-space:pre;font-size:0.9em}
a:visited{color:maroon}
a:link{color:crimson}
span.date{white-space:nowrap;margin-right:0.5em}
ul.toc{padding-left:0.5em}
ul.toc li{display: table;}
ul.toc li a{display: table-cell;}
